@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 12rem; 
    height: 21rem;
    background-color: rgb(17, 92, 116);
    padding: 0.2rem;
    border-radius: 1rem;
    color: beige;

    cursor: pointer;
}
.product__image {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 12rem;

    padding:0.2rem;
    border-radius: 1rem 1rem 0 0;

    background-color: rgb(255, 255, 255);
}
.product__image img {
    height: 10rem;
    object-fit: cover;
}
.info__products {
    width: 100%;
    height: 50%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    padding: 0.5rem;
}
.product__name {
    font-size: 1rem;
    font-weight: 400;
}
.inform_product{
    font-size: small;
    font-style: italic;
}
.description__ {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.8rem;
    font-style: italic;
}
.info__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.price__ {
    display: flex;
    padding: 0.5rem;
    color: rgb(243, 206, 41);
}
.image__trash__edit {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 0.5rem;
    width: 5rem;

    cursor: pointer;
}
.trash__icon:hover {
    opacity: 0.8;
}
.edit__icon {
    width: 1.1rem;
    height: 1.1rem;
}
.edit__icon:hover {
    opacity: 0.8;
}

.edit__modal__products {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    top: 0;

    background-color: rgba(0, 0, 0, 0.856);
}
.form__modal__edit__class {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background-color: rgb(17, 100, 89);
    width: auto;
    height: auto;

    border-radius: 0.8rem;

    padding: 2rem;
}

.input__form__modal {
    width: 22rem;
    height: 2.2rem;

    border-radius: 0.5rem;
    padding-left: 1rem;
    border-color: rgb(34, 34, 77);
}
.textarea__form__modal {
    resize: none;
    width: 22rem;
    height: 5.2rem;

    border-radius: 0.5rem;
    padding: 0.6rem 1rem;
    border-color: rgb(34, 34, 77);
}
.div_buttons_edit {
    display: flex;
    justify-content: center;
    inline-size: center;
    gap: 1rem;
    height: auto;
    width: 100%;

}
.send__button_edit__class {
    width: 10rem;
    height: 3rem;
    color: beige;

    border-radius: 0.8rem;
}

.button__red {
    background-color: brown;
}
.button__green {
    background-color: rgb(19, 117, 52);
}

.div__none {
    display: none;
}